<div class="p-4">
  <form method="post" action="/adds">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control"placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">description</label>
    <input type="text" class="form-control"placeholder="Enter description">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">id video</label>
    <input type="text" class="form-control"placeholder="Enter id video">
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>
</div>