<form class="mt-4 p-5" method="post">
  <div class="mb-3">
    <label for="search-input" class="form-label">Nhap tu khoa</label>
    <input type="text" class="form-control" name="q" id="search-input" placeholder="nhap tu khoa...">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>